.container {
  width: 85%;
}

.well {
  background-color: rgba(0, 0, 0, 0.3);
}

.col-sm-3 {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  border-radius: 1%;
}

.rules {
  color: white;
}

.game {
  color: white;
}

.game-ul {
  margin-top: 1em;
  height: 290px;
  overflow-y: scroll;
}

.sm-space-above {
  margin-top: 5px;
}

.sm-space-below {
  margin-top: 5px;
}

body {
  background-image: url(../img/pongboke.jpg);
  background-size:cover;
  background-attachment: fixed;
}

h1 {
  color: white;
}

label {
  color: white;
}

li {
  color: white;
}
